.NavBar {
    margin: auto;
    height: 100px;
    background-color: #0A204A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink-logo {
    height: 50px
}

.NavBarItems {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu {
    background-color: #0A204A;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: black;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        background-color: #0A204A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin-right: 0rem;
        /* height: 400px; */
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        width: 100vw;
        background-color: green;
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: black;
        background-color: whitesmoke;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        color: whitesmoke;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        font-size: #fff;
        font-size: 2rem;
    }

    Button {
        display: none;
    }
}